/*Inicio Classes gerais*/
*{
	margin: 0;
	padding: 0;
}
.flex-container{
	display: flex;
	margin: 0;
	align-content: center;
	justify-content: center;
	background-color: #FAFAFA;
}
.flex-item{
	align-self: center;
	padding: 3px;
}
/*Fim Classes gerais*/
/*Inicio Formulário de Login*/
.formLogin{
	min-height: 350px;
	width: 350px;
	border: 1px solid #DBDBDB;
	display: flex;
	background-color: #fff;
	flex-direction: column;
}
.campoInformacoes{
	border: 1px solid #DBDBDB;
	height: 30px;
	width: 200px;
	align-self: center;
	margin-bottom: 5px;
	font-size: 13px;
	border-radius: 5px;
	display: flex;
}
.campoInformacoes p{
	align-self: center;
	padding: 5px;
	color: #8E8E8E;
}
.btnPrincipal{
	width: 200px;
	text-decoration: none;
	color: white;
	background-color: #B2DFFC;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	align-self: center;
	margin-top: 5px;
}
.line{
	width: 80px;
	height: 2px;
	background: #dbdbdb;
	align-self: center;
	margin: 0 10px;
}
.ou{
	display: flex;
	align-self: center;
	margin-top: 10px;
}
.logoInsta{
	margin: 50px 0 20px 0;
	align-self: center;
}
/*Fim Formulário de Login*/
/*Imagem Celular*/
.celImg{
	height: 500px;
	margin-right: 20px;

}
/*Imagem Celular*/
/*Inicio Link Cadastro*/
.fb{
	width: 35px;
	height: 35px;
	align-self: center;
}
.fbp p{
	color: #385185;
}
.cad{
	min-height: 50px;
	width: 350px;
	border: 1px solid #DBDBDB;
	display: flex;
	background-color: #fff;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.cad .flex-item a{
	text-decoration: none;
	color: #0095F6;
}
/*Fim Link Cadastro*/
/*Inicio Lojas Mobile*/
.app{
	margin-top: 20px;

}
.loja{
	max-width: 100px;
}
/*Fim Lojas Mobile*/
/*Inicio Rodapé*/
footer{
	display: flex;
	align-items: center;
	height: 158px;
	padding: 10px;
	
}
.rodape{
	justify-content: space-between;
}
/*Mobile*/
@media(max-width: 992px){
	.flex-container{
		flex-direction: column;
	}
	.celImg{
		display: none;
	}
	footer{
		height: 70px;
	}