*{
	margin: 0;
	padding: 0;
}
.flex-container{
	display: flex;
	margin: 0;
	align-content: center;
	justify-content: center;
	border: 3px solid black;
	background-color: #FAFAFA;
}
.flex-item{
	align-self: center;
}
.formLogin{
	min-height: 350px;
	width: 350px;
	border: 1px solid #DBDBDB;
	display: flex;
	flex-direction: column;
}
.campoInformacoes{
	border: 1px solid #DBDBDB;
	height: 30px;
	width: 200px;
	align-self: center;
	margin-bottom: 5px;
	font-size: 13px;
	border-radius: 5px;
	display: flex;
}
.campoInformacoes p{
	align-self: center;
	padding: 5px;
}
.btnPrincipal{
	width: 200px;
	text-decoration: none;
	color: white;
	background-color: #B2DFFC;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	align-self: center;
	margin-top: 5px;
}
.line{
	width: 80px;
	height: 2px;
	background: #dbdbdb;
	align-self: center;
	margin: 0 10px;
}
.ou{
	display: flex;
	align-self: center;
	margin-top: 10px;
}
.logoInsta{
	margin: 50px 0 20px 0;
	align-self: center;
}
.celImg{
	height: 800px;

}